package ${packageName}.mapper;

import java.util.List;
import java.util.Map;

import ${packageName}.domain.${table.className};

/**
 * <pre>
 * ${table.remark}
 * </pre>
 *
 * @author ${author}
 * @date ${date2}
 *
 */
public interface ${table.className}Mapper {

	/**
	 * 插入
	 * 
	 * @param ${table.lowerClassName}
	 * @return
	 */
	int insert(${table.className} ${table.lowerClassName});

	/**
	 * 选择性插入
	 * 
	 * @param ${table.lowerClassName}
	 * @return
	 */
	int insertSelective(${table.className} ${table.lowerClassName});

	/**
	 * 根据主键删除
	 * 
	 * @param ${table.primaryKey.property}
	 * @return
	 */
	int deleteByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

	/**
	 * 根据主键更新
	 * 
	 * @param ${table.lowerClassName}
	 * @return
	 */
	int updateByPrimaryKey(${table.className} ${table.lowerClassName});

	/**
	 * 根据主键选择性更新
	 * 
	 * @param ${table.lowerClassName}
	 * @return
	 */
	int updateByPrimaryKeySelective(${table.className} ${table.lowerClassName});

	/**
	 * 根据对象选择性查询
	 * 
	 * @param ${table.lowerClassName}
	 * @return
	 */
	List<${table.className}> selectBySelective(${table.className} ${table.lowerClassName});

	/**
	 * 根据主键查找
	 * 
	 * @param ${table.primaryKey.property}
	 * @return
	 */
	${table.className} findByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

	/**
	 * 根据map分页查询
	 * 
	 * @param params
	 * @return
	 */
	List<${table.className}> findListByParam(Map<String, Object> params);

	/**
	 * 根据map分页查询记录数
	 * 
	 * @param params
	 * @return
	 */
	Integer findTotalByParam(Map<String, Object> params);
}
