/**
 * Copyright(C) 2015-2025 杏仁科技
 * All rights reserved
 * ${date1} Created
 */
package ${packageName}.dao;

import java.util.List;

import ${packageName}.model.${table.className}DO;

/**
 * <pre>
 * ${table.remark} DAO接口
 * </pre>
 *
 * @author ${author}
 * @date ${date2}
 *
 */
public interface I${table.className}Dao {
    /**
     * 根据主键删除
     * 
     * @param ${table.primaryKey.property}
     * @return
     */
    int deleteByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

    /**
     * 插入
     * 
     * @param record
     * @return
     */
    int insert(${table.className}DO record);

    /**
     * 选择性插入
     * 
     * @param record
     * @return
     */
    int insertSelective(${table.className}DO record);

    /**
     * 根据主键查询
     * 
     * @param ${table.primaryKey.property}
     * @return
     */
    ${table.className}DO selectByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

    /**
     * 根据主键选择性更新
     * 
     * @param record
     * @return
     */
    int updateByPrimaryKeySelective(${table.className}DO record);

    /**
     * 根据主键更新
     * 
     * @param record
     * @return
     */
    int updateByPrimaryKey(${table.className}DO record);

    /**
     * 根据DO选择性查询
     * 
     * @param record
     * @return
     */
    List<${table.className}DO> selectBySelective(${table.className}DO record);

    /**
     * 根据主键 启用/禁用 记录
     * 
     * @param valid
     * @return
     */
    int changeValidByPKey(${table.primaryKey.javaClassName} ${table.primaryKey.property}, int valid);

}