/**
 * Copyright(C) 2015-2025 杏仁科技
 * All rights reserved
 * ${date1} Created
 */
package ${packageName}.api.dto;

#foreach ($class in ${table.importClass})
import ${class};
#end
import com.xingren.sdb.components.common.AbstractDTO;

/**
 * <pre>
 * ${table.remark} 数据传输对象
 * </pre>
 *
 * @author ${author}
 * @date ${date2}
 *
 */
public class ${table.className}DTO extends AbstractDTO {
    /**
     *
     */
    private static final long serialVersionUID = 1L;

#foreach ($col in ${table.columns})
    /**
     * ${col.comments}
     */
    private ${col.javaClassName} ${col.property};

#end
#foreach ($col in ${table.columns})
    /**
     * 获取 ${col.comments}
     */
    public ${col.javaClassName} ${col.javaGetMethod}() {
        return ${col.property};
    }

    /**
     * 设置 ${col.comments}
     */
    public void ${col.javaSetMethod}(${col.javaClassName} ${col.property}) {
        this.${col.property} = ${col.property};
    }

#end
}