/**
 * Copyright(C) 2015-2025 杏仁科技
 * All rights reserved
 * ${date1} Created
 */
package ${packageName}.api;

import java.util.List;

import com.xingren.sdb.components.constants.CommonConstants.Valid;
import com.xingren.sdb.components.result.BooleanResult;
import com.xingren.sdb.components.result.DefaultResult;
import ${packageName}.api.dto.${table.className}DTO;

/**
 * <pre>
 * ${table.remark} 服务接口
 * </pre>
 *
 * @author ${author}
 * @date ${date2}
 *
 */
public interface I${table.className}Service {

    /**
     * 根据主键删除
     *
     * @param ${table.primaryKey.property}
     * @return 是否成功
     */
    BooleanResult deleteByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

    /**
     * 插入
     *
     * @param dto
     * @return 返回ID
     */
    DefaultResult<${table.primaryKey.javaClassName}> insert(${table.className}DTO dto);

    /**
     * 选择性插入
     *
     * @param dto
     * @return 返回ID
     */
    DefaultResult<${table.primaryKey.javaClassName}> insertSelective(${table.className}DTO dto);

    /**
     * 根据主键查找
     *
     * @param ${table.primaryKey.property}
     * @return 返回 ${table.className}DTO
     */
    DefaultResult<${table.className}DTO> selectByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

    /**
     * 根据主键选择性更新
     *
     * @param dto
     * @return 是否成功
     */
    BooleanResult updateByPrimaryKeySelective(${table.className}DTO dto);

    /**
     * 根据主键更新
     *
     * @param dto
     * @return 是否成功
     */
    BooleanResult updateByPrimaryKey(${table.className}DTO dto);

    /**
     * 根据DTO选择性查询
     *
     * @param dto
     * @return 返回 ${table.className}DTO 集合
     */
    DefaultResult<List<${table.className}DTO>> selectBySelective(${table.className}DTO dto);

    /**
     * 根据语言代码来查询所有有效记录
     *
     * @param language
     * @return 返回 ${table.className}DTO 集合
     */
    DefaultResult<List<${table.className}DTO>> selectByLanguage(String language);

    /**
     * 根据语言代码和记录代码查询
     *
     * @param language
     * @param code
     * @return 返回 ${table.className}DTO 集合
     */
    DefaultResult<List<${table.className}DTO>> selectByLangAndCode(String language, String code);

    /**
     * 根据主键 启用/禁用 记录
     *
     * @param valid
     *            Forest.Valid 类型枚举
     * @return 是否成功
     */
    BooleanResult changeValidByPKey(${table.primaryKey.javaClassName} ${table.primaryKey.property}, Valid valid);

}
