package ${packageNameService}.api;

import java.util.List;

import ${packageNameDomain}.domain.Page;
import ${packageNameDomain}.domain.PageRequest;

import ${packageNameDomain}.domain.${table.className};

/**
 * <pre>
 * ${table.remark}服务接口
 * </pre>
 *
 * @author ${author}
 * @date ${date2}
 *
 */
public interface ${table.className}Service {
    /**
     * 插入
     * 
     * @param ${table.lowerClassName}
     * @return 如果插入成功返回带有ID的对象，否则返回null
     */
    ${table.className} insert(${table.className} ${table.lowerClassName});

    /**
     * 选择性插入
     * 
     * @param ${table.lowerClassName}
     * @return 如果插入成功返回带有ID的对象，否则返回null
     */
    ${table.className} insertSelective(${table.className} ${table.lowerClassName});

    /**
     * 根据主键删除
     * 
     * @param ${table.primaryKey.property}
     * @return
     */
    boolean deleteByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

    /**
     * 根据主键更新
     * 
     * @param ${table.lowerClassName}
     * @return
     */
    boolean updateByPrimaryKey(${table.className} ${table.lowerClassName});

    /**
     * 根据主键选择性更新
     * 
     * @param ${table.lowerClassName}
     * @return
     */
    boolean updateByPrimaryKeySelective(${table.className} ${table.lowerClassName});

    /**
     * 根据对象选择性查询
     * 
     * @param ${table.lowerClassName}
     * @return
     */
    List<${table.className}> selectBySelective(${table.className} ${table.lowerClassName});

    /**
     * 根据主键查询
     * 
     * @param ${table.primaryKey.property}
     * @return
     */
    ${table.className} findByPrimaryKey(${table.primaryKey.javaClassName} ${table.primaryKey.property});

    /**
     * 分页查询
     * 
     * @param ${table.lowerClassName}
     * @param pageRequest
     * @return
     */
    Page<${table.className}> findListByParam(${table.className} ${table.lowerClassName}, PageRequest pageRequest);

    /**
     * 查询全部
     * 
     * @return
     */
    List<${table.className}> findAll();
}
