<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${packageName}.dao.I${table.className}Dao">
	<resultMap id="BaseResultMap" type="${packageName}.model.${table.className}DO">
		<id column="${table.primaryKey.name}" property="${table.primaryKey.property}" />
#foreach ($col in ${table.columns})
#if(!${col.primaryKey})
		<result column="${col.name}" property="${col.property}" />
#end
#end
	</resultMap>

	<sql id="Base_Column_List">
		#foreach ($col in ${table.columns})
${col.name}#if($velocityCount != $table.columnCount), #end
#set($r = $velocityCount % 5)
#if($r == 0)

		#end
#end

	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="${table.primaryKey.javaTypeClass}">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="${table.primaryKey.javaTypeClass}">
		DELETE FROM ${table.name}
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</delete>

	<insert id="insert" parameterType="${packageName}.model.${table.className}DO" useGeneratedKeys="true" keyProperty="${table.primaryKey.property}"  keyColumn="${table.primaryKey.name}">
		INSERT INTO ${table.name} (
		#foreach ($col in ${table.notPkColumns})
${col.name}#if($velocityCount != $table.notPkColumns.size()), #end
#set($r = $velocityCount % 5)
#if($r == 0)

		#end
#end

		) VALUES (
		#foreach ($col in ${table.notPkColumns})
#{${col.property}}#if($velocityCount != $table.notPkColumns.size()), #end
#set($r = $velocityCount % 5)
#if($r == 0)

		#end
#end

		)
	</insert>
	
	<insert id="insertSelective" parameterType="${packageName}.model.${table.className}DO"  useGeneratedKeys="true" keyProperty="${table.primaryKey.property}"  keyColumn="${table.primaryKey.name}">
		insert into ${table.name}
		<trim prefix="(" suffix=")" suffixOverrides=",">
#foreach ($col in ${table.notPkColumns})
			<if test="${col.property} != null">
				${col.name},
			</if>
#end
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach ($col in ${table.notPkColumns})
			<if test="${col.property} != null">
				#{${col.property}},
			</if>
#end
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="${packageName}.model.${table.className}DO">
		UPDATE ${table.name}
		<set>
#foreach ($col in ${table.notPkColumns})
			<if test="${col.property} != null">
				${col.name} = #{${col.property}},
			</if>
#end
		</set>
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</update>

	<update id="updateByPrimaryKey" parameterType="${packageName}.model.${table.className}DO">
		UPDATE ${table.name} SET
#foreach ($col in ${table.notPkColumns})
		${col.name} = #{${col.property}}#if($velocityCount != $table.notPkColumns.size()),#end

#end
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</update>

	<select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="${packageName}.model.${table.className}DO">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}
		<where> 
#foreach ($col in ${table.notPkColumns})
			<if test="${col.property} != null">
				AND ${col.name} = #{${col.property}}
			</if>
#end
  		</where>
	</select>

	<update id="changeValidByPKey" parameterType="java.util.Map">
		UPDATE ${table.name}
		SET if_valid = #{valid}
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</update>

	<update id="changeStatusByPKey" parameterType="java.util.Map">
		UPDATE ${table.name} 
		SET status = #{status} 
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</update>

	<select id="selectByPrimaryKeyAndStatus" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}
		WHERE if_valid = 1
		AND ${table.primaryKey.name} = #{${table.primaryKey.property}}
		<if test="status != null">
			AND status = #{status}
		</if>
	</select>

	<select id="selectByHelpMessageIdAndStatus" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}
		WHERE if_valid = 1
		AND help_message_id = #{helpMessageId}
		<if test="status != null">
			AND status = #{status}
		</if>
	</select>

	<select id="selectByOrderIdAndStatus" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}
		WHERE if_valid = 1
		AND trade_order_id = #{orderId}
		<if test="status != null">
			AND status = #{status}
		</if>
	</select>

	<select id="selectPagingByUserId" resultMap="BaseResultMap"  parameterType="${packageName}.queryobject.${table.className}Query">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}  
		WHERE user_id = #{userId} AND if_valid = 1
	    <if test="status != null">
			AND status = #{status}
		</if>
		ORDER BY ${table.primaryKey.name} DESC
		<if test="needPagination == true">
			LIMIT #{preEndNum}, #{pageSize}
		</if>
	</select>

	<select id="selectTotalRecordByUserId" parameterType="${packageName}.queryobject.${table.className}Query"  resultType="java.lang.Integer">
		SELECT COUNT(1) 
		FROM ${table.name} 
		WHERE user_id = #{userId} AND if_valid = 1
		<if test="status != null">
			AND status = #{status}
		</if>
	</select>

</mapper>