/**
 * Copyright(C) 2015-2025 杏仁科技
 * All rights reserved
 * ${date1} Created
 */
package ${modulePackage}.api;

import java.util.List;

import com.xingren.sdb.components.constants.CommonConstants.Valid;
import com.xingren.sdb.components.result.BooleanResult;
import com.xingren.sdb.components.result.DefaultResult;
import ${modulePackage}.api.dto.${dtoName};

/**
 * <pre>
 * 服务接口
 * </pre>
 *
 * @author wwh
 * @date ${date2}
 *
 */
public interface ${className} {

    /**
     * 根据主键删除
     * 
     * @param ${idName}
     * @return 是否成功
     */
    BooleanResult deleteByPrimaryKey(${idType} ${idName});

    /**
     * 插入
     * 
     * @param dto
     * @return 返回ID
     */
    DefaultResult<${idType}> insert(${dtoName} dto);

    /**
     * 选择性插入
     * 
     * @param dto
     * @return 返回ID
     */
    DefaultResult<${idType}> insertSelective(${dtoName} dto);

    /**
     * 根据主键查找
     * 
     * @param ${idName}
     * @return 返回 ${dtoName}
     */
    DefaultResult<${dtoName}> selectByPrimaryKey(${idType} ${idName});

    /**
     * 根据主键选择性更新
     * 
     * @param dto
     * @return 是否成功
     */
    BooleanResult updateByPrimaryKeySelective(${dtoName} dto);

    /**
     * 根据主键更新
     * 
     * @param dto
     * @return 是否成功
     */
    BooleanResult updateByPrimaryKey(${dtoName} dto);

    /**
     * 根据DTO选择性查询
     * 
     * @param dto
     * @return 返回 ${dtoName} 集合
     */
    DefaultResult<List<${dtoName}>> selectBySelective(${dtoName} dto);

    /**
     * 根据语言代码来查询所有有效记录
     * 
     * @param language
     * @return 返回 ${dtoName} 集合
     */
    DefaultResult<List<${dtoName}>> selectByLanguage(String language);

    /**
     * 根据语言代码和记录代码查询
     * 
     * @param language
     * @param code
     * @return 返回 ${dtoName} 集合
     */
    DefaultResult<List<${dtoName}>> selectByLangAndCode(String language, String code);

    /**
     * 根据主键 启用/禁用 记录
     * 
     * @param valid
     *            Forest.Valid 类型枚举
     * @return 是否成功
     */
    BooleanResult changeValidByPKey(${idType} ${idName}, Valid valid);

}
