<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${packageName}.dao.I${table.className}Dao">
	<resultMap id="BaseResultMap" type="${packageName}.model.${table.className}DO">
		<id column="${table.primaryKey.name}" property="${table.primaryKey.property}" />
#foreach ($col in ${table.columns})
#if(!${col.primaryKey})
		<result column="${col.name}" property="${col.property}" />
#end
#end
	</resultMap>

	<sql id="Base_Column_List">
		#foreach ($col in ${table.columns})
${col.name}#if($velocityCount != $table.columnCount), #end
#set($r = $velocityCount % 5)
#if($r == 0 && $velocityCount != $table.columns.size())

		#end
#end

	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="${table.primaryKey.javaTypeClass}">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="${table.primaryKey.javaTypeClass}">
		DELETE FROM ${table.name}
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</delete>

#set($i = 0)
	<insert id="insert" parameterType="${packageName}.model.${table.className}DO">
		INSERT INTO ${table.name} (
		#foreach ($col in ${table.columns})#if( !${MyUtil.repeat('create_time','modify_time','delete_time',${col.name})} )
${col.name}#if($velocityCount != $table.columns.size()), #end
#set($i = $i+1)
#set($r = $i % 5)
#if($r == 0 && $velocityCount != $table.columns.size())

		#end
#end#end

		) VALUES (
#set($i = 0)
		#foreach ($col in ${table.columns})#if( !${MyUtil.repeat('create_time','modify_time','delete_time',${col.name})} )
#{${col.property}}#if($velocityCount != $table.columns.size()), #end
#set($i = $i+1)
#set($r = $i % 5)
#if($r == 0 && $velocityCount != $table.columns.size())

		#end
#end#end

		)
	</insert>
	
	<insert id="insertSelective" parameterType="${packageName}.model.${table.className}DO">
		insert into ${table.name}
		<trim prefix="(" suffix=")" suffixOverrides=",">
#foreach ($col in ${table.columns})#if( !${MyUtil.repeat('create_time','modify_time','delete_time',${col.name})} )
			<if test="${col.property} != null">
				${col.name},
			</if>
#end#end
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
#foreach ($col in ${table.columns})#if( !${MyUtil.repeat('create_time','modify_time','delete_time',${col.name})} )
			<if test="${col.property} != null">
				#{${col.property}},
			</if>
#end#end
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="${packageName}.model.${table.className}DO">
		UPDATE ${table.name}
		<set>
			modify_time=now(),
#foreach ($col in ${table.notPkColumns})#if( !${MyUtil.repeat('create_time','modify_time','delete_time',${col.name})} )
			<if test="${col.property} != null">
				${col.name} = #{${col.property}},
			</if>
#end#end
		</set>
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</update>

	<update id="updateByPrimaryKey" parameterType="${packageName}.model.${table.className}DO">
		UPDATE ${table.name} SET
		modify_time=now(),
#foreach ($col in ${table.notPkColumns})#if( !${MyUtil.repeat('create_time','modify_time','delete_time',${col.name})} )
		${col.name} = #{${col.property}}#if($velocityCount != $table.notPkColumns.size()),#end

#end#end
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</update>

	<select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="${packageName}.model.${table.className}DO">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${table.name}
		<where> 
#foreach ($col in ${table.notPkColumns})
			<if test="${col.property} != null">
				AND ${col.name} = #{${col.property}}
			</if>
#end
  		</where>
	</select>

	<update id="changeValidByPKey" parameterType="java.util.Map">
		UPDATE ${table.name}
		SET delete_time=now() , if_valid = #{valid}
		WHERE ${table.primaryKey.name} = #{${table.primaryKey.property}}
	</update>
</mapper>