	<select id="selectBySelective" resultMap="BaseResultMap"
		parameterType="${parameterType}">
		SELECT
		<include refid="Base_Column_List" />
		FROM ${tableName}
		<where> 
#foreach($col in ${columns.keySet()})  
			<if test="${columns.get($col)} != null">
				AND $col = #{${columns.get($col)}}
			</if>
#end  
  		</where>
	</select>
	
	<update id="changeValidByPKey" parameterType="java.util.Map">
		UPDATE ${tableName}
		SET if_valid = #{valid}
		WHERE ${idColumn} = #{${idProperty}}
	</update>
